.advantages {
  padding-top: 23px;
  padding-bottom: 52px;
}

.advantages__item {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;

  @media (min-width: 768px) {
    display: inline-block;
    width: 31%;
    text-align: center;
    padding: 15px 15px;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.advantages__subtitle {
  display: block;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;

  @media (min-width: 768px) {
    margin: 0;
  }
}
