.advantages {
  padding-top: 23px;
  padding-bottom: 52px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 18px;
    justify-content: center;
    align-items: center;
  }
}

.advantages__item {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  padding-left: 65px;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    background-position: top;
    text-align: center;
    padding: 0;
    padding-top: 50px;
  }
}

.advantages__item--housing {
  background-image: url("../img/icon-housing.svg");
}

.advantages__item--food {
  background-image: url("../img/icon-burger.svg");
}

.advantages__item--souvenirs {
  background-image: url("../img/icon-gift.svg");
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.advantages__subtitle {
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;

  @media (min-width: 768px) {
    margin: 0;
  }
}
