.form {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.form__user-data {
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border: none;
  }

  @media (min-width: 1200px) {
    padding: 0 100px;
  }
}

.form__list {
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    margin: 0;
    padding: 17px 53px;
  }
}

.form__item {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__label {
  font-weight: 400;
  text-transform: uppercase;
}

.form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 20px;

  @media (min-width: 768px) {
    padding: 0;
  }

  @media (min-width: 1200px) {
    padding: 0;
  }
}

.form__wrapper {
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
}

.form__full-name {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
  padding: 0;
  padding-bottom: 23px;

  @media (min-width: 768px) {
    border: none;
    border-right: 1px solid #dbdbdb;
    padding: 0;
    padding-right: 63px;
  }

  @media (min-width: 1200px) {
    border: none;
    border-right: 1px solid #dbdbdb;
  }
}

.form__information {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding: 0;
  padding-bottom: 18px;

  @media (min-width: 768px) {
    border: none;
    padding: 0;
    padding-left: 64px;
  }
}

.form__impression {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.form__attraction {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.form__field {
  background-color: #f2f2f2;
  padding: 16px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

input::placeholder {
  color: #000000;
}

.form__description {
  padding: 0;

  @media (min-width: 768px) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: 1200px) {
    padding-left: 216px;
    padding-right: 216px;
  }
}

.form__description-field {
  font-family: inherit;
  background-color: #f2f2f2;
  padding: 16px;
  width: 279px;
  min-height: 150px;
  border: none;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    width: 610px;
    min-height: 160px;
  }

  @media (min-width: 1200px) {
    width: 728px;
    min-height: 160px;
  }
}

.form__description-title {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-top: 24px;
}

.form__button {
  font-family: inherit;
  background-color: #81b3d2;
  color: #ffffff;
  width: 100%;
  text-transform: uppercase;
  padding: 18px 33px 13px 33px;
  border: none;

  @media (min-width: 768px) {
    width: 384px;
  }
}
