.form-container__review {
  margin: 0;
  margin-bottom: 25px;
  padding: 32px 20px 28px 20px;
  border: none;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: 768px) {
    border: none;
  }

  @media (min-width: 1200px) {
    border: none;
  }
}

.form-container__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}

.form-container__causes {
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    border: none;
  }

  @media (min-width: 1200px) {
    border: none;
  }
}
