.gallery__list {
  margin: 0;
  padding: 0 20px;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
  }

  @media (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
  }
}

.gallery__item {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  border: none;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: 768px) {
    border: none;
    padding: 0;
    width: 50%;
    margin: 0;
  }

  @media (min-width: 1200px) {
    border: none;
    padding: 0;
    width: 400px;
    margin-bottom: 40px;
  }
}

.gallery__item:first-child {
  width: 100%;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.gallery__item-title {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.gallery__item-like {
  display: flex;
  align-items: center;
}

.gallery__button {
  content: "";
  background-image: url("../img/like-icon.svg");
  background-repeat: no-repeat;
  display: block;
  width: 23px;
  height: 21px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.gallery__item-like-amount {
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 9px;
}

.gallery__item-image--current {
  display: block;
  width: 100%;
}

.gallery__item-image {
  display: block;
  width: 100%;
}

.gallery__wrapper {
  display: block;
  position: relative;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    background-color: #e5e5e5;
    padding: 22px 20px 17px 20px;
  }

  @media (min-width: 1200px) {
    background-color: transparent;
    position: absolute;
  }
}
