.main-container__intro {
  display: block;
  background-image: url("../img/mobile-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.main-container__intro-image {
  display: block;
  width: 100%;
}
