.main-container__intro {
  display: block;
  background-image: url("../img/mobile-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 80px;
}

.main-container__intro-image {
  display: block;
  width: 100%;
}

.main-container__form-container {
  padding: 0;

  @media (min-width: 768px) {
    padding: 0 60px;
  }

  @media (min-width: 1200px) {
    padding: 0 120px;
  }
}

.main-container__form-intro {
  display: block;
  background-image: url("../img/mobile-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 80px;
}

.main-container__form-intro-image {
  display: block;
  width: 100%;
}

.main-container__catalog-intro {
  display: block;
  background-image: url("../img/mobile-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 33px;
  padding-top: 51px;
  padding-bottom: 80px;

  @media (min-width: 768px) {
    margin-bottom: 62px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 100px;
  }
}

.main-container__catalog-intro-image {
  display: block;
  width: 100%;
}
