.main-header {
  display: block;
  width: 320px;
  min-height: 56px;
  background-color: #ffffff;

  @media (min-width: 768px) {
    width: 100%;
  }
}

.main-header__button {
  min-height: 56%;
}

.main-header__button-toogle {
  position: absolute;
  top: 17px;
  right: 17px;
  z-index: 2;
  display: block;
  cursor: pointer;
  background-repeat: no-repeat;
  border: none;
}

.main-header__button-toogle--closed {
  width: 22px;
  height: 22px;
  background-color: #ffffff;
  background-image: url("../img/icon-menu.svg");

  @media (min-width: 768px) {
    display: none;
  }
}

.main-header__button-toogle--opened {
  width: 22px;
  height: 22px;
  background-color: #81b3d2;
  background-image: url("../img/icon-cross.svg");

  @media (min-width: 768px) {
    display: none;
  }
}

.main-header__button-toogle--no-js {
  display: none;
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
