
.reasons__item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reasons__intro {
  background-color: hsl(203, 47%, 66%);
}

.reasons__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.reasons__causes {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.reasons__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.reasons__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
