.video {
  margin: 0;
  padding: 0 20px;
}

.video__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
  padding-top: 20px;
}

.video__description {
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 14px;
}
